@import url(https://fonts.bunny.net/css?family=roboto-slab:400,700);

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

#container {
  display: flex;

  font-family: "Roboto Slab", serif;
  background-color: burlywood;
}

button {
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  background-color: darkolivegreen;
  width: 150px;
  box-shadow: 2px 2px 2px 2px rgb(150, 125, 92);
  padding: 8px 0;
}

nav > button {
  background-color: darkolivegreen;
  color: white;
  height: 2rem;
  border: 0;
  border-bottom: 2px ridge white;
}

h1 {
  align-self: center;
  margin-bottom: 24px;
  text-shadow: 2px 2px 2px rgb(150, 125, 92);
}

#main-content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  padding: 24px;
}

#main-content button {
  width: fit-content;
}

#projects {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.project-container {
  width: 400px;
  height: 300px;
  background-color: rgb(255, 251, 247);
  border-radius: 10px;
  padding: 16px;
  margin: 16px 0px;
  border: 5px ridge brown;
  box-shadow: 2px 2px 2px rgb(150, 125, 92);
  display: grid;
  grid-template-columns: 1fr 30px;
  grid-template-rows: 30px 1fr;
}

.todos-container {
  grid-row: 2;
  grid-column: 1/-1;
  border-top: 2px solid rgb(208, 116, 54);
}

.todo-container {
  display: grid;
  grid-template-columns: 1rem 1fr 100px 2rem;
  row-gap: 4px;

  min-height: 1.5rem;
  padding-left: 4px;
}

[data-priority="p1"] {
  border-left: thick solid red;
}

[data-priority="p2"] {
  border-left: thick solid gold;
}

[data-priority="p3"] {
  border-left: thick solid green;
}

[data-priority=""] {
  border-left: thick solid transparent;
}

.todo-container button {
  background-color: transparent;
  border: 0;
  min-width: 2rem;
}

.todo-dueDate-in-project {
  justify-self: end;
}

#buttons {
  display: flex;
  gap: 8px;
}

#buttons button {
  background-color: brown;
  color: white;
  border: 0;
  box-shadow: 2px 2px 2px rgb(150, 125, 92);
  border-radius: 5px;
}

#new-todo,
#new-project {
  padding: 0;
}

.close-btn {
  text-align: right;
}

.close-btn > button {
  border-radius: 0;
  background-color: brown;
  border: 0;
  color: white;
  width: 1.75rem;
  height: 1.75rem;
}

.close-btn > button:hover {
  background-color: rgb(121, 32, 32);
}

#new-todo-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 8px;
  margin: 16px;
}

#add-new-todo {
  grid-column: span 2;
  justify-self: center;
}

#new-todo-form label {
  justify-self: end;
}

#new-project > form {
  margin: 16px;
}
