@import url(https://fonts.bunny.net/css?family=roboto-slab:400,700);

/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

#container {
  display: flex;

  font-family: "Roboto Slab", serif;
  background-color: rgb(244, 224, 214);
}

nav {
  display: flex;
  flex-direction: column;

  min-height: 100vh;
  height: 100%;
  background-color: darkolivegreen;
}

h1 {
  align-self: center;
  margin-bottom: 24px;
}

#main-content {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  padding: 24px;
}

#main-content button {
  width: fit-content;
}

#projects {
  display: flex;
  flex-wrap: wrap;
}

.project-container {
  width: 250px;
  height: 250px;
  background-color: rgb(184, 201, 153);
  border-radius: 10px;
  padding: 16px;
  margin: 16px 0px;
}
